:root {
  --font-family: "Roboto", "Raleway", sans-serif;
  --main-color: #000000;
  --acent-color: #2396f3;
  --secondary-color: #757575;
  --ternary-color: #fff;
  --icon-fill: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #212121;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--ternary-color);
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 60px;
  }
}

h2 {
  margin-top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  h2 {
    margin-top: 94px;
  }
}

h3 {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ternary-color);
}

.logo, .page-header, footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .logo, .page-header, footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
  }
}

.logo__text {
  color: var(--acent-color);
}

.flex-center, .features__image, .social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.primary-text, .site-nav, .auth-nav__link, .our-work {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.secondary-text, .team-card__full-name, .team-card__profession, .mailing-form__input {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-text, .contact-info__link, .adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu-button svg {
  width: 100%;
  height: 100%;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: var(--acent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav-auth {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .site-nav-auth.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav-auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-nav {
  text-align: center;
}

.site-nav__list {
  padding: 60px 0;
}

.site-nav__item {
  margin-bottom: 52px;
}

.site-nav__item:last-of-type {
  margin-bottom: 0;
}

.site-nav__link {
  position: relative;
  color: inherit;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--acent-color);
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
}

.auth-nav {
  text-align: center;
}

.auth-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.auth-nav__link {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--acent-color);
  fill: var(--acent-color);
}

.hero {
  height: 400px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Header-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header-img.jpg);
}

.hero h1 {
  padding-top: 118px;
  margin-left: 45px;
  margin-right: 45px;
}

.order-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--acent-color);
  color: var(--ternary-color);
}

.features {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  width: 100%;
  padding: 0 15px;
}

.features__item:first-child {
  margin-top: 60px;
}

.features__item:not(:first-child) {
  margin-top: 30px;
}

.features__icon {
  margin: auto;
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.features__image {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .features__image {
    width: 270px;
  }
}

.features__text {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

.our-work {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--ternary-color);
}

@media (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

.our-work__item + .our-work__item {
  margin-left: 30px;
}

.our-work__text {
  position: absolute;
  width: 370px;
  height: 40px;
  padding-top: 30px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.team-container {
  background-color: #f5f4fa;
}

.team-container h2 {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-container h2 {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.team {
  width: calc(100% - 30px);
  margin: 15px;
}

.team:last-child {
  padding-bottom: 60px;
}

.team-card {
  background-color: var(--ternary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:first-child) {
  margin-top: 30px;
}

.team-card__image {
  width: 100%;
}

.team-card__full-name {
  padding-top: 30px;
}

.team-card__profession {
  font-weight: normal;
  color: var(--secondary-color);
  padding-top: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-bottom: 24px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--acent-color);
  fill: var(--ternary-color);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  margin-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--acent-color);
  cursor: pointer;
  fill: var(--acent-color);
}

@media screen and (min-width: 1200px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 170px;
    height: 90px;
  }
}

.clients__icon {
  width: 100px;
  height: 45px;
}

footer {
  background: #2f303a;
}

footer .logo, footer .page-header, footer footer {
  color: var(--ternary-color);
}

.contact-info__link {
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  color: var(--ternary-color);
}

.social-networks__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--ternary-color);
}

.social-networks__item {
  border-radius: 50%;
}

.social-networks__item:hover, .social-networks__item:focus {
  background-color: var(--acent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
}

.mailing-form__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--ternary-color);
  background: var(--acent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.mailing-form__input {
  font-weight: normal;
  text-align: start;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  color: var(--ternary-color);
}

.mailing-form__icon {
  fill: var(--icon-fill);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: var(--ternary-color);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: calc(100% - 30px);
  height: 609px;
  margin: auto;
  z-index: 1;
}

@media screen and (min-width: 480px) {
  .form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
    height: 581px;
  }
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40px;
  margin-top: 28px;
  margin-right: 40px;
  margin-left: 40px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  height: 100%;
}

.form-field:focus-within,
.form-field:hover {
  fill: var(--acent-color);
  color: var(--acent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--acent-color);
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:not(:placeholder-shown) ~ label,
.form-input:focus ~ label,
.form-input:hover ~ label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--acent-color);
  letter-spacing: 0.01em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
}

.form-textarea:not(:placeholder-shown) ~ label,
.form-textarea:focus ~ label,
.form-textarea:hover ~ label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.form-input:hover {
  border: 1px solid var(--acent-color);
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  left: 42px;
  top: 8px;
}

.form-icon {
  position: absolute;
  left: 19px;
  top: 14px;
  overflow: hidden;
}

.form-field-textarea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  margin-right: 40px;
  margin-left: 40px;
}

.form-label-textarea {
  position: absolute;
  left: 16px;
  top: 12px;
  height: 96px;
}

.form-textarea {
  resize: none;
  height: 96px;
  padding: 12px 16px;
}

.checkbox {
  margin-top: 20px;
  padding-right: 35px;
  padding-left: 40px;
}

.checkbox-field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .checkbox-field {
    font-size: 14px;
    line-height: 24px;
  }
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  margin-right: 8px;
}

.form-input-checkbox:checked ~ .checkbox-label::before {
  background-color: var(--acent-color);
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: var(--ternary-color);
}

.form-link {
  color: var(--acent-color);
  border-bottom: 1px solid var(--acent-color);
}

.form-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--ternary-color);
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 125px;
  background: var(--acent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

@media screen and (min-width: 1200px) {
  .form-button {
    margin-left: 165px;
  }
}

.form-button:focus {
  outline: none;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.overflow {
  overflow: hidden;
  position: relative;
}

.overflow:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
}

.close-button .icon {
  fill: #000;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--ternary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

.close-button:hover .icon {
  fill: var(--acent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */