.features {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  width: 100%;
  padding: 0 15px;

  &__item:first-child {
    margin-top: 60px;
  }

  &__item:not(:first-child) {
    margin-top: 30px;
  }

  &__icon {
    margin: auto;

    width: 70px;
    height: 70px;
    fill: currentColor;
  }

  &__image {
    @extend .flex-center;
    height: 120px;

    background: #f5f4fa;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__text {
    margin-top: 10px;
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
