



// .hero {
//   @extend .flex-center;
//   flex-direction: column;

//   width: 100%;
//   // height: 600px;

//   background-image: linear-gradient(
//     rgba(47, 48, 58, 0.8),
//     rgba(47, 48, 58, 0.8)
//   ),
//   url(../images/Header-img.jpg);
// }

// .order-button {
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 30px;
//   letter-spacing: 0.06em;

//   @extend .flex-center;
//   width: 200px;
//   height: 50px;
//   left: 700px;
//   top: 430px;

//   margin-top: 30px;
//   border: none;
//   outline: none;
  
//   border-radius: 4px;

//   background-color: var(--acent-color);
//   color: var(--ternary-color);
// }