:root {
  --font-family: "Roboto", "Raleway", sans-serif;
  --main-color: #000000;
  --acent-color: #2396f3;
  --secondary-color: #757575;
  --ternary-color: #fff;
  --icon-fill: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #212121;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  // max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--ternary-color);
}

h2 {
  margin-top: 94px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

h3 {
  margin-top: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--ternary-color)
}

.logo {
  &__link {
    display: flex;
    flex-direction: row;

    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: inherit;
  }

  &__text {
    color: var(--acent-color)
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.secondary-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}